<html>

<head>
    <title>Stitch It!</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="icon"  type="image/png"  href="{{ url_for('static', filename='favicon/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        #content_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100vw;
        }

        #form_wrapper {
            max-width: 400px;
        }

        #form_elements_wrapper>div {
            width: 400px;
            display: flex;
            justify-content: space-between;
            margin: 1em 0;
        }
        #submit {
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="header">
        <div></div>
        <div>
            <h1>Stitch It!</h1></div>
        <div>
            <a target="_blank" href="https://github.com/TravisBumgarner/stitch_it">GitHub</a>
            <a target="_blank" href="https://twitter.com/travis_the_makr">Twitter</a>
            <a target="_blank" href="https://travisbumgarner.com">Portfolio</a>
        </div>
    </div>
    <div id="content_wrapper">
        <div id="form_wrapper">
            <h2>Greetings</h2>
            <p>This is a fun little tool that will convert a photo you upload into a CSS cross stitch.</p>
            <p>If you encounter any issues or have a feature request, please let me know via GitHub or Twitter.</p>
            <h2>Notes</h2>
            <ul>
                <li>Works best with images at least 1000px along each side.</li>
            </ul>
            <h2>Get Stitching</h2>
            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div id="form_elements_wrapper">
                    <div>
                        {{ form.photo.label }}
                        {{ form.photo }}
                    </div>
                    <div>
                        {{ form.horizontal_samples_user_input.label }}
                        {{ form.horizontal_samples_user_input }}
                    </div>
                    <!-- <div>
                        {{ form.stitch_size.label }}
                        {{ form.stitch_size }}
                    </div>
                    <div>
                        {{ form.stitch_spacing.label }}
                        {{ form.stitch_spacing }}
                    </div>
                    <div>
                        {{ form.stitch_style.label }}
                        <ul>
                            {% for subfield in form.stitch_style %}
                                <li>{{ subfield }}
                                {{ subfield.label }}</li>
                            {% endfor %}
                        </ul>
                    </div> -->
                </div>
                <div>{{ form.submit() }}</div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="errors">
                    <ul>
                        {% for message in messages %}
                            {% for _, errors in message.items() %}
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</body>
</html>