<html>  
<head>  
    <title>upload</title>  
</head>  
<body>  
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" /> 

        <label>Sample Side Length</label>
        <input type="number" />

        <label>Stitch Side Length</label>
        <input type="number" />

        <label>Border Radius Percent</label>
        <input type="number" />

        <label>Stitch Padding</label>
        <input type="number" />
        <input type = "submit" value="Upload">  
    </form>  
</body>  
</html>  