{% extends "base.html" %}

{% block content %}
    <h1>Stitch!</h1>
    <form action="/success" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.photo }}<br>
            <br>
            {{ form.stitch_size.label }}<br>
            {{ form.stitch_size }}<br>
            <br>
            {{ form.sample_size.label }}<br>
            {{ form.sample_size }}<br>
            <br>
            {% for subfield in form.stitch_style %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}
            <br>
            {{ form.stitch_spacing.label }}<br>
            {{ form.stitch_spacing }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}