{% extends "base.html" %}

{% block content %}

<body>
    <div id="results_form_elements_wrapper">
        <div>
           <p><a href="/">Try again</a></p>
        </div>
        <div>
            <p>Stitch Size</p>
            <div>
                <button onclick="updateCSSVar({cssVar: '--stitch_size', incrementor: -1})">-</button>
                <button onclick="updateCSSVar({cssVar: '--stitch_size', incrementor: 1})">+</button>
            </div>
        </div>
        <div>
            <p>Stitch Spacing</p>
            <div>
                <button onclick="updateCSSVar({cssVar: '--stitch_spacing', incrementor: -1})">-</button>
                <button onclick="updateCSSVar({cssVar: '--stitch_spacing', incrementor: 1})">+</button>
            </div>
        </div>
        <div>
            <p>Stitch Style</p>
            <div>
                <button onclick="updateCSSVar({cssVar: '--stitch_style', incrementor: -5})">-</button>
                <button onclick="updateCSSVar({cssVar: '--stitch_style', incrementor: 5})">+</button>
            </div>
        </div>
        <button onclick="copyToClipboard()">Copy CSS to Clipboard</button>
    </div>
    <div id='css_image_wrapper'>
        {{results|safe}}
    </div>
</body>
<script>

let stitchSize = {{stitch_size}} 
let stitchSpacing = {{stitch_spacing}} 
let stitchStyle = {{stitch_style}}

function updateCSSVar({cssVar, incrementor}){
    const root = document.documentElement
    let cssVal

    switch(cssVar){
        case '--stitch_size':
            stitchSize += incrementor
            cssVal = stitchSize + 'px'
            break
        case '--stitch_spacing':
            stitchSpacing += incrementor
            cssVal = stitchSpacing + 'px'
            break
        case '--stitch_style':
            stitchStyle += incrementor
            cssVal = stitchStyle + '%'
            break
    }

    root.style.setProperty(cssVar,  cssVal);
}

function copyToClipboard () {
  const el = document.createElement('textarea')
  const wrapper = document.getElementById('wrapper') 
  el.value = wrapper.innerHTML
  document.body.appendChild(el)
  el.select()
  document.execCommand('copy')
  document.body.removeChild(el)
};

</script>
</html>
{% endblock %}